<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: left; width: 1090px; background-color: rgb(223, 76, 76); color: cornsilk;">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
<% }); %> <% } %> <% if(success_msg != ''){ %>
    <div class="alert alert-success" role="alert" style="text-align: left; width: 1090px; background-color: rgb(72, 187, 107); color: cornsilk;">
        <%= success_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %> <% if(error_msg != ''){ %>
<div class="alert alert-danger" role="alert" style="text-align: left; width: 1090px; background-color: rgb(223, 76, 76); color: cornsilk;">
    <%= error_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %> <% if(error != ''){ %>
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: rgb(223, 76, 76); color: cornsilk;">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>