<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Total Dental Care</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="web/assets/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Exo:300,400,400i,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shippori+Mincho:400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="web/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Headroom CSS ==-->
    <link href="web/assets/css/headroom.css" rel="stylesheet" />
    <!--== jQuery Ui Min CSS ==-->
    <link href="web/assets/css/jquery-ui.min.css" rel="stylesheet" />
    <!--== Animate CSS ==-->
    <link href="web/assets/css/animate.css" rel="stylesheet" />
    <!--== Font Awesome Icon CSS ==-->
    <link href="web/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="web/assets/css/swiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="web/assets/css/fancybox.min.css" rel="stylesheet" />
    <!--== Slicknav Min CSS ==-->
    <link href="web/assets/css/slicknav.css" rel="stylesheet" />
    <!--== Aos Min CSS ==-->
    <link href="web/assets/css/aos.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="web/assets/css/style.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!--wrapper start-->
<div class="wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
    <div class="preloader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!--== End Preloader Content ==-->

  <!--== Start Header Wrapper ==-->
  <header class="header-wrapper">
    <div class="header-top-area">
      <div class="header-top-align">
        <div class="header-top-align-left">
          <div class="header-logo-area">
            <a href="">
              <img class="logo-main" src="web/assets/img/logo.png" alt="Logo" />
              
            </a>
          </div>
        </div>
        <div class="header-top-align-right">
          <div class="header-info-items">
            <div class="info-items">
              <div class="inner-content">
                <div class="icon">
                  <img src="web/assets/img/icons/time1.png" alt="Image-HasTech">
                </div>
                <div class="content">
                  <p>8 am to 6 pm (Mon - Fri)<br>10 am to 8 pm (Sat - Sun)</p>
                </div>
              </div>
            </div>
            <!-- <div class="info-items">
              <div class="inner-content">
                <div class="icon">
                  <img src="assets/img/icons/map.png" alt="Image-HasTech">
                </div>
                <div class="content">
                  <p>258C, Saintpatrick, Main Street <br>Notrth Town, New York</p>
                </div>
              </div>
            </div> -->
          </div>
         
        </div>
      </div>
    </div>

  </header>
  <!--== End Header Wrapper ==-->
  
  <main class="main-content">
    <!--== Star Appointment Area Wrapper ==-->
    <section class="appointment-area appointment-default-area">
      <div class="container" data-aos="fade-up">
        <div class="row no-gutter">
          <div class="col-lg-12">
            <div class="appointment-form-wrap">
              <div class="col-12">
                <!--== Start Contact Form ==-->
                <div class="appointment-form">
                  <div class="section-title text-center">
                    <h5 class="sub-title">APPOINTMENT</h5>
                    <h2 class="title mb--0">Book your <span>Dentist</span> for <span>Proper</span> Care</h2>
                  </div>
                  <form id="contact-form" action="https://whizthemes.com/mail-php/raju/arden/mail.php" method="POST">
                    <div class="row row-gutter-30">
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control form-select" aria-label="service select example">
                            <option selected>Root Canals</option>
                            <option value="1">Scaling</option>
                            <option value="2">Flavor</option>
                            <option value="3">Crown</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control form-select" aria-label="doctor name select example">
                            <option selected>Doctor</option>
                            <option value="1">Julia</option>
                            <option value="2">Thomas</option>
                            <option value="3">Rebeca</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input class="form-control" type="text" name="con_name" placeholder="Name">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input class="form-control" type="email" name="con_email" placeholder="Email">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input class="form-control" type="text" name="con_phone" placeholder="Phone">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input class="form-control form-date" autocomplete="off" type="text" id="datepicker" placeholder="Date">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group text-center mb--0">
                          <button class="btn-theme" type="submit">Make Appointment</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <!--== End Contact Form ==-->

                <!--== Message Notification ==-->
                <div class="form-message"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Appointment Area Wrapper ==-->


  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area">
    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <p class="copyright">© 2021 Powered by <a target="_blank" href=""> Neno Technologies</a></p>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Bottom ==-->
  </footer>
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="close-action">
            <button class="btn-menu-close">menu <i class="fa fa-chevron-left"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu menu-active-one">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->
</div>

<!--=======================Javascript============================-->

<!--=== jQuery Modernizr Min Js ===-->
<script src="web/assets/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="web/assets/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="web/assets/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="web/assets/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="web/assets/js/bootstrap.min.js"></script>
<!--=== jQuery Appear Js ===-->
<script src="web/assets/js/jquery.appear.js"></script>
<!--=== jQuery Headroom Min Js ===-->
<script src="web/assets/js/headroom.min.js"></script>
<!--=== jQuery Ui Min Js ===-->
<script src="web/assets/js/jquery-ui.min.js"></script>
<!--=== jQuery Some Custom Js ===-->
<script src="web/assets/js/some-custom.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="web/assets/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="web/assets/js/fancybox.min.js"></script>
<!--=== jQuery Slick Nav Js ===-->
<script src="web/assets/js/slicknav.js"></script>
<!--=== jQuery Waypoint Js ===-->
<script src="web/assets/js/waypoint.js"></script>
<!--=== jQuery Parallax Min Js ===-->
<script src="web/assets/js/parallax.min.js"></script>
<!--=== jQuery Aos Min Js ===-->
<script src="web/assets/js/aos.min.js"></script>
<!--=== jQuery Counterup Min Js ===-->
<script src="web/assets/js/counterup.js"></script>
<!--=== jQuery Isotope Min Js ===-->
<script src="web/assets/js/isotope.pkgd.min.js"></script>

<!--=== jQuery Custom Js ===-->
<script src="web/assets/js/custom.js"></script>

</body>

</html>